

.navbar-hai {
  display: flex;
  width: 100%;
  height: 10rem;
  border: 1px solid black;
  justify-content: space-around;
  align-items: center;
}

.navbar-hai img{
  width: 200px;
}

.navbar-hai img+div{
  border: 1px solid black;
  border-radius:20px
}

.sign{
  width: 250px;
  display: flex;
  border: 1px solid yellow;
  justify-content: space-between;
}