

.navbar-hai {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-hai img{
  width: 200px;
}

.navbar-hai img+div{
  width: 500px;
  height: 30px;
  /* border: 1px solid black; */
  /* border-radius:10px 10px 10px 20px */
}

.navbar-hai img+div input{
  padding: 10px;
  width: 400px;
  height: 30px;
  border: 1px solid black;
  border-radius:10px 0px 0px 10px
}


.navbar-hai img+div button{
  background-color: brown;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius:0px 1px 10px 0px
}

.sign{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

.nabar-down{
  margin-top: 20px;
}

.blueheader{
  margin-top: 20px;
  width: 100%;
  height: 4rem;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blueheader div{
  cursor: pointer;
  color: aliceblue;
}

.blueheader div:hover{
  color: aqua;
}

.imghai{
  margin: auto ;
  width: 80%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.imghai img{
  width: 100px;
  height: 100px;
  /* border: 1px solid red; */
}

.homeImage{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  margin: auto;
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.thirdHome{
  margin-top: 20px;
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.thirdHome img{
width: 310px;
height: 310px;
border-radius: 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}